<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd 
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd 
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd 
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">
	
	<!-- 配置拦截器 -->
	 <!-- <mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="com.zd.interceptor.CheckLogininterceptor">
				<property name="notUrl">
					<list>
						<value>/login</value>
						<value>/tologin</value>
						<value>page/tologin</value>
					</list>
				</property>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>  -->
	
	<!-- 扫描controller包，让包中的注解生效 -->
	<!-- base-package指定要扫描的包 -->
	<context:component-scan base-package="com.zd.controller"/>
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 前缀 -->
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<!-- 后缀 -->
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 解决静态资源 -->
	<mvc:default-servlet-handler/>
	<!-- 标签驱动 -->
	<mvc:annotation-driven/>
	
	<!-- 配置springmvc文件上传解析器 -->
	<!--  -->
	<bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver" id="multipartResolver"></bean>

	
<!-- 配置springmvc发送电子邮件的发送者对象 -->
    <bean class="org.springframework.mail.javamail.JavaMailSenderImpl" id="javaMailSender">
	<!-- 指定发送电子邮箱的主机号 -->
	<property value="smtp.qq.com" name="host"/>
	<!-- 指定发送电子邮件的相关属性 -->
	<property name="javaMailProperties">
	<props>
	<!-- 是否要进行身份验证，通常写true -->
	<prop key="mail.smtp.auth">true</prop>
	<!-- 连接服务器超时时间，单位为毫秒 -->
	<prop key="mail.smtp.timeout">5000</prop>
	</props>
	</property>
	<!-- 指定用户名-发件人的电子邮件 -->
	<property value="2644736006@qq.com" name="username"/>
	<!-- 指定密码-就是发件人的授权码 -->
	<property value="gstjzprujjkgdiff" name="password"/>
	<!-- 指定字符编码 -->
	<property value="UTF-8" name="defaultEncoding"/>
</bean>

</beans>