<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.zd.entity.Config_file_first_kind" alias="cffkentity"/>
		<typeAlias type="com.zd.entity.Config_file_second_kind" alias="cfskentity"/>
		<typeAlias type="com.zd.entity.User" alias="user"/>
		<typeAlias type="com.zd.entity.Salary_standard" alias="Salary_standard"/>
		<typeAlias type="java.util.Map" alias="map"/>
		
		<typeAlias type="com.zd.entity.User_role" alias="user_role"/>
		<!-- 公共表字段映射  -->
		<typeAlias type="com.zd.entity.Config_public_char" alias="Config_public_char"/>
		<typeAlias type="com.zd.entity.Config_major_kind" alias="major_king"/>
		<typeAlias type="com.zd.entity.Config_major" alias="major"/>
		<typeAlias type="com.zd.entity.Engage_major_release" alias="release"/>
		<typeAlias type="com.zd.entity.Engage_resume" alias="resume"/>
		<typeAlias type="com.zd.entity.Engage_interview" alias="interview"/>
		<!-- 三级机构映射 -->
		<typeAlias type="com.zd.entity.Config_file_third_kind" alias="cftkentity"/>
		<typeAlias type="com.zd.entity.User_role" alias="user_role"/>
		<!-- 人力资源表映射 -->
		<typeAlias type="com.zd.entity.Humman_file" alias="Humman_file"/>
		
		<!-- 角色权限关系表 -->
		<typeAlias type="com.zd.entity.R_q_conn" alias="r_q_conn"/>
		<typeAlias type="com.zd.entity.e_mail" alias="email"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/zd/mappers/User_roleMapper.xml"/>
		<mapper resource="com/zd/mappers/UserMapper.xml"/>
		<mapper resource="com/zd/mappers/Config_file_first_kind.xml"/>
		<mapper resource="com/zd/mappers/Config_file_second_kind.xml"/>
		<mapper resource="com/zd/mappers/Config_public_charMapper.xml"/>
		<mapper resource="com/zd/mappers/Salary_standardMapper.xml"/>
		<mapper resource="com/zd/mappers/Config_major_kindMapper.xml"/>
		<mapper resource="com/zd/mappers/Config_majorMapper.xml"/>
		<mapper resource="com/zd/mappers/Engage_major_releaseMapper.xml"/>
		<mapper resource="com/zd/mappers/Engage_resumeMapper.xml"/>
		<mapper resource="com/zd/mappers/Engage_interviewMapper.xml"/>
		<mapper resource="com/zd/mappers/Config_file_third_kindMapper.xml" />
		<mapper resource="com/zd/mappers/Salary_grantMapper.xml" />
		<!-- 人力资源表映射 -->
		<mapper resource="com/zd/mappers/Humman_fileMapper.xml" />
		<!-- 角色权限关系表 -->
		<mapper resource="com/zd/mappers/R_q_connMapper.xml"/>
		<mapper resource="com/zd/mappers/EmailMapper.xml" />
	</mappers>
</configuration>
