<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.zd.entity.Config_file_first_kind" alias="cffk"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/zd/mappers/Config_file_first_kind.xml"/>
		<mapper resource="com/zd/mappers/EngageMajorMapper.xml"/>
	</mappers>
</configuration>
