<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.zd.entity.Config_file_first_kind" alias="cffk"/>
		<typeAlias type="com.zd.entity.User" alias="user"/>
		<typeAlias type="com.zd.entity.Salary_standard" alias="Salary_standard"/>
		<typeAlias type="java.util.Map" alias="map"/>
		
		<!-- 公共表字段映射 -->
		<typeAlias type="com.zd.entity.Config_public_char" alias="Config_public_char"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/zd/mappers/UserMapper.xml"/>
		<mapper resource="com/zd/mappers/Config_file_first_kind.xml"/>
		<mapper resource="com/zd/mappers/Config_public_charMapper.xml"/>
		<mapper resource="com/zd/mappers/Salary_standardMapper.xml"/>
	</mappers>
</configuration>
